<<<<<<< HEAD
body {
    background-color: azure;
}

.out-city {
    margin: 20px auto;
    border: 1px solid black;
    width: 200px;
    height: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 10px;
}

input {
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px;
=======
.out-city {
    margin: auto;
    border: 1px solid black;
    width: 175px;
    height: 20px;
}

input {
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
>>>>>>> c56d18e3b138441edf1d5e07be7946aacf6f925c
}